<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://github.com/Sahilxrajput"><i class="fa-brands fa-github"></i></a> 
            <a href="https://x.com/SaahilxRajput"><i class="fa-brands fa-x-twitter"></i></a>
            <a href="https://www.instagram.com/sahil.env/">  <i class="fa-brands fa-square-instagram"></i></a>
            <a href="https://www.linkedin.com/in/sahil-rajput-b73702344/"><i  class="fa-brands fa-linkedin"></i></a>
        </div>
        <div class="f-info-brand">&copy;WanderLust Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy Terms</a>
        </div>
        <div>
            <p class="sahil">
                Developed by Sahil Rajput
            </p>
        </div>
    </div>
    
</footer>