<link rel="stylesheet" href="/css/404.css">
<body>
    <div class="main">
        <img src="https://img.freepik.com/free-vector/oops-404-error-with-broken-robot-concept-illustration_114360-5529.jpg?t=st=1747941317~exp=1747944917~hmac=72231f71d153aea188fd6f2099366c7f819846f111c36c76ec618e001b0e0e4b&w=1380" alt="">
        <form action="/listings">
            <button class="home-btn" type="submit">Go to Home</button>
        </form>
    </div>
</body>
